<div class="container">
　<div class="row">
    <div class="col-2"></div>
	　<div class="col-8">
	    <h1 class="mt-5 text-center">釣り具追加</h1>
      <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %>">
      <a class="close" data-dismiss="alert">×</a>
      <%= msg %>
      </div>
<% end %>
	    <%= form_with model: [@user, @tackle] do |f| %>
      <table>
          <tr><td><%= f.label :釣り具 %></td></tr>
          <tr><td><%= f.text_field :name, autofocus: true, autocomplete: "釣り具", :placeholder => "ロッド名、リール名...etc", class: "form-control" %></td></tr>
          <tr>
          	<td>
          	  <%= button_tag :type => "submit", :class =>"btn btn-warning" do %>
                <i class="fas fa-fish"></i>追加する！
              <% end %>
          	</td>
          </tr>
        </table>
      <% end %>
    </div>
    <div class="col-2"></div>
  </div>
</div>