<div class="background-lure">
	<div class="container">
  <div class="row">
  	<div class="card bg-light col-lg-3 col-sm-12 profile">
	    <%= attachment_image_tag @user, :profile_image, fallback: "no_image.png" , class: "image-circle"%>
      <table>
  	    <tr>
  	      <th>釣り歴：<%= @user.fishing_history %></th>
  	    </tr>
  	    <tr>
  	      <th>公開釣果数：<%= @user.posts.count %></th>
  	    </tr>
	      <tr>
	        <th>フォロー数: <%= @user.followings.count %></th>
	        <td><%= link_to "フォロー一覧", user_followings_path(@user), class: "btn btn-warning pr-4" %></td>
    	  </tr>
  	    <tr>
  	      <th>フォロワー数:<%= @user.followers.count %></th>
          <th><%= link_to "フォロワー一覧", user_followers_path(@user), class: "btn btn-primary" %></th>
        </tr>
    	</table>
	  </div>
    <div class="card bg-light col-lg-6 col-sm-12ee">
  	  <h1 class="mt-5"><%= @user.name %></h1>
  	  <p>自己紹介</p>
	    <h3><%= simple_format@user.introduction %></h4>
	  </div>
    <div class="card bg-light col-lg-3 col-sm-12">
  	  <div class="mt-5">
  	  	<% if user_signed_in? %>
		      <% if current_user != @user %>
			      <% if current_user.following?(@user) %>
			        <%= link_to "フォロー外す", user_relationships_path(@user), method: :delete, class: "btn btn-info" %>
			      <% else %>
			        <%= link_to "フォローする", user_relationships_path(@user), method: :post, class: "btn btn-success" %>
			      <% end %>
		      <% end %>
		    <% end %>
	      <% if @user == current_user || admin_signed_in? %>
	        ユーザー編集：<%= link_to "編集", edit_user_path(@user), class: "btn btn-success" %></br>
	        メールアドレス:<%= @user.email %>
	      <% end %>
      </div>
    </div>
    <h2 class="mt-2"><span style="background-color:#eee"><%= @user.name %>さんの投稿</span></h2>
    <div class="row">
	    <% @user.posts.each do |post| %>
        <div class="col-lg-3 col-sm-12 mt-5">
		      <div class="post_item">
		        <div class="card bg-light">
 			        <%= link_to post_path(post) do %>
                <%= attachment_image_tag post, :image, class: "image-size" %>
              <% end %>
      	      <%= link_to user_path(post.user_id) do %>
	              <%= attachment_image_tag post.user, :profile_image, class: "profile-image", fallback: "no_image.png" %>
	            <% end %>
			        <div class="card-body">
			    		  <tr><td><%= post.user.name %></td></tr><br>
			    	 	  <tr><td>魚種名：<%= post.name %></td></tr><br>
			    		  <tr><td>サイズ：<%= post.size %></td></tr><br>
			    		  <tr><td>釣った日：<%= post.fish_time.strftime("%Y-%m-%d %H:%M") %></td></tr><br>
			    		  <tr><td><%= image_tag 'lure_icon.png', class: "lure_icon" %><%= post.lure %></td></tr><br>
			    		  <tr>
				    			<td>
				    			  <i class="fas fa-fish fish_blue"></i>
			  	          <%= post.favorites.count %>件
			  	          <i class="far fa-comment"></i>
			  	          <%= post.comments.count %>件
				    			</td>
			    		  </tr>
		          </div>
		        </div>
          </div>
        </div>
	    <% end %>
	  <div class="col-9"></div>
    </div>
    <%= paginate @posts %>
  </div>
</div>
</div>
