<div class="container">
　<div class="row">
    <div class="col-1"></div>
	　<div class="col-10">
	    <h1 class="mt-5 text-center">コラムの編集</h1>
	    <% if @column.errors.any? %>
        <div>
          <ul style="color: red">
            <% @column.errors.full_messages.each do |message| %>
              <%= message %><br>
            <% end %>
          </ul>
        </div>
      <% end %>
	    <%= form_with(model: @column, local: true) do |f| %>
        <table class="table">
          <tr><td><%= f.label :タイトル %></td></tr>
          <tr><td><%= f.text_field :title, class: 'form-control' %></td></tr>
          <tr></tr><td><%= f.label :画像, class: 'control-label' %></td></tr>
        	<tr><td><%= f.attachment_field :image, class: 'form-control' %></td></tr>
          <tr><td><%= f.label :本文 %></td></tr>
          <tr></tr><td><%= f.text_area :body, class: "form-control" %></td></tr>
          <tr>
          	<td>
          	  <%= button_tag :type => "submit", :class =>"btn btn-info" do %>
                <i class="fas fa-fish"></i>コラムを更新する
              <% end %>
          	</td>
          </tr>
        </table>
      <% end %>
    </div>
    <div class="col-1"></div>
  </div>
</div>