<div class="container">
　<div class="row">
    <div class="col-1"></div>
	　<div class="col-9">
	    <h1 class="mt-5 text-center">お問い合わせ一覧</h1>

        お問い合わせ件数：<%= @contacts.count %>
      <% @contacts.each do |contact| %>
        <table class="table">
          <tr>
            <td>
              お問い合わせタイトル：<%= contact.title %><%= link_to "詳細", contact_path(contact), class: "btn btn-primary" %>
            <td>
            <td>
            </td>
            <td>
              お問い合わせユーザー：<%= contact.user.name %>
              <%= link_to "詳細", user_path(contact.user_id), class: "btn btn-primary" %>
            <td>
          </tr>
        </table>
      <% end %>
    </div>
    <div class="col-1"></div>
  </div>
</div>