<div class="background-post">
	<div class="container">
	  <h2><span style="background-color:#eee">みんなの投稿</h2></span>
	  <div class="row">
	    <% @posts.each do |post| %>
		  <div class="col-lg-3 col-sm-12">
			<div class="post_item">
			  <div class="card">
			  	<%= link_to post_path(post) do %>
			      <%= attachment_image_tag post, :image, class: "image-size" %>
			    <% end %>
		        <%= link_to user_path(post.user_id) do %>
				  <%= attachment_image_tag post.user, :profile_image, class: "profile-image", fallback: "no_image.png" %>
				<% end %>
			    <p class="ml-3"><%= post.user.name %></p>
			    <div class="card-body">
				  <p class="card-title"><strong>魚種名：<%= post.name %></strong></p>
				  <p class="card-text">サイズ：<%= post.size %></p>
				  <p class="card-text">釣った日：<%= post.fish_time.strftime("%Y-%m-%d %H:%M") %></p>
		        </div>
			  </div>
			</div>
		  </div>
	    <% end %>
	  </div>
	  <%= paginate @posts %>
	</div>
</div>