<!DOCTYPE html>
<html>
  <head>
    <title>Tsuritora</title>
    <meta name=”viewport” content=”width=device-width,initial-scale=1.0,minimum-scale=1.0″>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <p class="notice"><%= notice %></p><p class="alert"><%= alert %></p>
  <body>
    <% if admin_signed_in? %>
    <header>
      <div class="logo">
        <%= link_to root_path do %>
          <%= image_tag 'tsuritora_logo.png', size: '180x90' %>
        <% end %>
      </div>
      <div id="hamburger">
          <div class="icon">
              <span></span>
              <span></span>
              <span></span>
          </div>
      </div>
      <nav class="small">
        <ul>
          <li><%= link_to '質問一覧', contacts_path %></li>
          <li><%= link_to 'コラム', columns_path %></li>
          <li><%= link_to 'コラムの投稿', new_column_path %></li>
          <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
       </ul>
     </nav>
      <nav class="big">
        <ul>
          <li><%= link_to '質問一覧', contacts_path, class: "btn btn-info mt-4 mr-5" %></li>
          <li><%= link_to 'コラム', columns_path, class: "btn btn-info mt-4 mr-5" %></li>
          <li><%= link_to 'コラムの投稿', new_column_path, class: "btn btn-info mt-4 mr-5" %></li>
          <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "btn btn-info mt-4 mr-5" %></li>
        </ul>
      </nav>
    </header>
    <% elsif user_signed_in? %>
    <header>
      <div class="logo">
        <%= link_to root_path do %>
          <%= image_tag 'tsuritora_logo.png', size: '180x90' %>
        <% end %>
      </div>
      <div id="hamburger">
        <div class="icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
      </div>
      <nav class="small">
        <ul>
          <li><%= link_to 'マイページ', user_path(current_user) %></li>
          <li><%= link_to '投稿する', new_post_path %></li>
          <li><%= link_to 'みんなの投稿', posts_path %></li>
          <li><%= link_to 'コラム', columns_path %></li>
          <li><%= link_to 'つりトラの使い方', homes_about_path %></li>
          <li><%= link_to '質問箱', new_contact_path %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
       </ul>
     </nav>
      <nav class="big">
        <ul>
          <li><%= link_to 'マイページ', user_path(current_user), class: "fas fa-user btn btn-info mt-4 mr-3" %></li>
          <li><%= link_to '投稿する', new_post_path, class: "fas fa-camera btn btn-info mt-4 mr-3" %></li>
          <li><%= link_to 'みんなの投稿', posts_path, class: "fas fa-users btn btn-info mt-4 mr-3" %></li>
          <li><%= link_to 'コラム', columns_path, class: "fas fa-columns btn btn-info mt-4 mr-3" %></li>
          <li><%= link_to 'つりトラの使い方', homes_about_path, class: "fas fa-hand-point-right btn btn-info mt-4 mr-3" %></li>
          <li><%= link_to '質問箱', new_contact_path, class: "fas fa-question-circle btn btn-info mt-4 mr-3" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "fas fa-sign-out-alt btn btn-info mt-4 mr-3" %></li>
        </ul>
      </nav>
    </header>
    <% else %>
        <header>
      <div class="logo">
        <%= link_to root_path do %>
          <%= image_tag 'tsuritora_logo.png', size: '180x90' %>
        <% end %>
      </div>
      <div id="hamburger">
          <div class="icon">
              <span></span>
              <span></span>
              <span></span>
          </div>
      </div>
      <nav class="small">
        <ul>
          <li><%= link_to 'みんなの投稿', posts_path %></li>
          <li><%= link_to 'つりトラの使い方', homes_about_path %></li>
          <li><%= link_to 'コラム', columns_path %></li>
          <li><%= link_to '新規登録', new_user_registration_path %></li>
          <li><%= link_to 'ログイン', new_user_session_path %></li>
       </ul>
     </nav>
      <nav class="big">
        <ul>
          <li><%= link_to 'みんなの投稿', posts_path, class: "fas fa-users btn btn-info mt-4 mr-3"  %></li>
          <li><%= link_to 'つりトラの使い方', homes_about_path, class: "fas fa-hand-point-right btn btn-info mt-4 mr-3" %></li>
          <li><%= link_to 'コラム', columns_path, class: "fas fa-columns btn btn-info mt-4 mr-3" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "fas fa-user-plus btn btn-info mt-4 mr-3" %></li>
          <li><%= link_to 'ログイン', new_user_session_path, class: "fas fa-sign-in-alt btn btn-info mt-4 mr-3" %></li>
        </ul>
      </nav>
    </header>
    <% end %>
    <%= render 'layouts/search' %>
    <%= yield %>
    <span id="back">
      <%= link_to "#" do %>
        <%= image_tag 'okiami.png', size: '50X50' %>
      <% end %>
    </span>
    <script>
    $(function() {
      $('#back a').on('click',function(event){
        $('body, html').animate({
          scrollTop:0
        }, 800);
        event.preventDefault();
      });
    });
    </script>

    <div class="wrapper">
      <footer>
        <p>©Copyright Tsuritora. ALL Rights researved.</p>
      </footer>
    </div>
      <script>
      $('#hamburger').on('click', function(){
        $('.icon').toggleClass('close');
          $('.small').slideToggle(
            );
      });
      </script>
  </body>
</html>
