<div class="conteiner">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <h1 class="text-center mt-5">新規登録</h1>
      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
      
        <div class="field">
          <%= f.label :ニックネーム %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
        </div>
      
        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
      
        <div class="field">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>
      
        <div class="field">
          <%= f.label :パスワード確認 %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>
      
        <div class="text-center mt-5">
          
          <%= button_tag( class: "btn btn-secondary") do %>
    　　　　　　<%= content_tag :span, "新規会員登録（無料）" %>
　　　　　<% end %>
        </div>
      <% end %>
      
      <%= render "users/shared/links" %>　
    </div>
    <div class="col-3"></div>
  </div>
</div>
